[Desktop Entry]
Name=Billig Sweeper
Comment=Yet another stupid Minesweeper clone
Exec=billig-sweeper
Icon=xyz.stuerz.BilligSweeper
Type=Application
Categories=Game;

